#form-control {
  margin: 0px auto;
  width: 600px;
}

.post {
  margin: 15px;
}

.card {
  display: block;
  padding: 10px auto;
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 50px;
  height: 614;
}

.col-centered {
  margin: 0 auto;
  float: none;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}

.icon {
  width: 30;
  height: 30;
}

.navbar {
  text-align: center;
}

.comments {
  display: block;
}

.right {
  float: right;
}

#button-addon2 {
  color: blue;
}

.topicon {
  float: right;
}
